{% extends 'base.html' %}
{% block aboutactive %} class="active" {% endblock %}
{% block body %}
	<div class="container-wrap">
		<div id="fh5co-about">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h1>Sobre nosotros</h1>
					<h2>Nosotros somos Codekies, nuestro objetivo con este proyecto es lograr que la gente pueda encontrar 
						mascotas que se han perdido para que vuelvan a sus hogares lo antes posible.</h2>
				</div>
			</div>
		</div>
		<div id="fh5co-about">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>Códigos de Esperanza</h3>
					<p>En una pequeña ciudad donde las mascotas eran parte esencial de las familias, siete adolescentes apasionados por la programación, decidieron resolver un problema que los conmovía profundamente. Cada semana, en los postes de luz y en los grupos de redes sociales, aparecían carteles de mascotas perdidas. Sin embargo, la información solía ser dispersa y difícil de encontrar.
						
						Una tarde, mientras trabajaban en otro proyecto, los programadores tuvieron una idea.
						—¿Y si creamos una página donde la gente pueda publicar información sobre mascotas perdidas o encontradas? Algo simple, pero funcional.
						—¡Me encanta! Podemos usar etiquetas por zonas, fotos y hasta un sistema de notificaciones, fue la respuesta instantanea.
						
						Se pusieron manos a la obra. Algunos se encargaron de diseñar la base de datos, mientras otros trabajaban en la interfaz. La llamaron "Pata a Casa". Durante semanas, entre tareas escolares y sesiones nocturnas de programación, perfeccionaron su proyecto. Diseñaron una plataforma donde los usuarios podían crear perfiles para sus mascotas, subir fotos y agregar descripciones. Además, implementaron un sistema de geolocalización para que las búsquedas fueran más precisas.
						
						El día del lanzamiento, crearon un evento en redes sociales para dar a conocer su plataforma. En menos de 24 horas, "Pata a Casa" empezó a recibir sus primeros registros. Historias de perros, gatos y hasta conejos comenzaron a llenar el sitio. La comunidad respondió con entusiasmo, compartiendo la página y ayudando a conectar a mascotas con sus dueños.
						
						Una noche, apenas dos semanas después del lanzamiento, recibieron un mensaje. Una niña llamada Valeria había encontrado a su gato, Nube, gracias a la página. Envió una foto con una enorme sonrisa y su gato acurrucado en sus brazos.
						
						Y así, "Pata a Casa" se convirtió en un faro de esperanza para mascotas y humanos, mostrando que a veces, las mejores soluciones nacen de un corazón generoso y un teclado.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
