{% extends 'base.html' %}
{% block body %}
    <div class="container-wrap">
        <aside id="fh5co-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="overlay-gradient"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1 class="titulo-tarjeta">Datos enviados!</h1>
                                        <a class="btn btn-default btn-demo" href="{{ url_for('pets') }}">Volver a buscar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
{% endblock %}
