{% block body %}
<div class="pf-columns">
    
    <div class="pf-photoBox">
        <img class="pf-photo" src="{{ mascota.urlFoto }}">
    </div>

    <div class="pf-files">
        <div class="pf-nameBox">
            <h1 class="typo-petName">{{ mascota.animal }}</h1>
        </div>

        <div class="pf-characBox">
            <h5 class="typo-characTitle">Características:</h5>
            <p class="typo-characPet"><strong>Especie:</strong> {{ mascota.animal }}</p>
            <p class="typo-characPet"><strong>Raza:</strong> {{ mascota.raza }}</p>
            <p class="typo-characPet"><strong>Color:</strong> {{ mascota.color }}</p>
           
            <p class="typo-characPet"><strong>Condición:</strong> {{ mascota.condicion }}</p>
            <p class="typo-characPet"><strong>Fecha de pérdida:</strong> {{ mascota.fechaPerdido }}</p>
        </div>
    </div>
</div>

<div class="pf-columns">
    
    <div class="pf-descBox">
        <h3 class="typo-descTitle">Descripción:</h3>

        <p class="typo-descChar">{{ mascota.descripcion }}</p>
        <p><a style="width: 500px; margin-top:250px; border-color: rgb(83, 51, 2);" class="btn btn-primary btn-demo" href="{{ url_for('pets') }}"></i> Reclamar/Lo Encontre</a>

    </div>
    
    <div class="pf-mapBox">
        <h3 class="typo-descTitle">Dirección:</h3>
        <iframe class="map"
            src="https://maps.google.com/maps?hl=es&q={{ mascota.ubicacion }}&t=m&z=14&ie=UTF8&iwloc=B&output=embed"></iframe>
    </div>
</div>
{% endblock %}