{% extends 'base.html' %}
{% block body %}
    <div class="container-wrap">
        <aside id="fh5co-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="overlay-gradient"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Le enviaremos tu información al dueño del post</h1>
                                        <p class="texto-tarjeta">¿Estas de acuerdo con compartir tus datos personales
                                            para que el dueño pueda contactarse contigo?</p>
                                        <a class="btn btn-primary btn-demo" id="boton-reclamar" href="{{ url_for('pet_found', pet_id=1) }}">Estoy de acuerdo</a>
                                        <a class="btn btn-primary btn-demo" id="boton-reclamar" href="{{ url_for('pets') }}">Me arrepentí</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
{% endblock %}
