{% extends 'base.html' %}
{% block petsactive %} class="active" {% endblock %}
{% block body %}
	<div class="container-wrap">
		<aside id="fh5co-hero" class="fondoa">
			<div class="flexslider">
				<ul class="slides">
				<li>
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-12 slider-text slider-text-bg ">
								<div class="slider-text-inner text-center">
									<h1 class="titulo-pets">Encontrá tu mascota</h1>
									<p>
										<a class="btn btn-primary btn-demo" href="{{ url_for('pets_search', condicion='Perdido') }}">Perdidas</a>
										<a class="btn btn-primary btn-demo" href="{{ url_for('pets_search', condicion='Encontrado sin dueño') }}">Encontradas</a>
									</p>
									<form method="get" action="{{ url_for('pets_search') }}" class="form_filtro">
										<label for="filtro">Filtrar por:</label>

										{% for filtro, valores in datos_filtro.items() %}

											<select name="{{filtro}}">
												<option value="" disabled selected>{{filtro}}</option>

												{% for valor in valores %}
												<option value="{{ valor }}">{{ valor }}</option>
												{% endfor %}

											</select>

										{% endfor %}

										<button type="submit">Filtrar</button>
									</form>

								</div>

				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>

		</aside>
		<div id="fh5co-blog">
			<div class="row">
				{% for animal in animales %}

				<div class="col-md-4 targeta-hover">
					<div class="fh5co-blog animate-box targeta-animales">
						<!--<img src="{{animal.urlFoto}}" alt="foto de la mascota" class="img-fluid img-pets">-->
						<img src="{{url_for('static', filename='images/imagenes_mascotas/' + animal.urlFoto)}}" alt="foto de la mascota" class="img-fluid img-pets">
						<div class="blog-text">
							{% if animal.fechaPerdido %}
								<span class="posted_on">Fecha de perdido: {{animal.fechaPerdido}}</span>
							{% else %}
								<span class="posted_on">Fecha de encontrado: {{animal.fechaEncontrado}}</span>
							{% endif %}
							<h3>{{animal.animal}}</h3>
							<p class="descripcion">{{animal.descripcion}}</p>
							<p>Raza: {{animal.raza}}</p>
							<ul class="stuff">
								<li><i class="icon-heart3"></i>249</li>
								<li><i class="icon-eye2"></i>1,308</li>
								<li><a href="{{ url_for('petinfo', id=animal.id)}}" class="botoninfo">Mas detalles<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				{% endfor %}
			</div>
		</div>
	</div><!-- END container-wrap -->
	{% endblock %}

