{% extends 'base.html' %}
{% block body %}
	<div class="container-wrap">
		<aside id="fh5co-hero" class="fondoa">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/img_bg_3.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-12 slider-text slider-text-bg ">
								<div class="slider-text-inner text-center">
									<h1 class="titulo-pets">Encontrá tu mascota</h1>
									<p>
										<a class="btn btn-primary btn-demo" href=""></i> Perdidas </a> 
										<a class="btn btn-primary btn-demo" href="">Encontradas</a>
									</p>
									<form method="get" action="{{ url_for('pets_search') }}" class="form_filtro">
										<label for="filtro">Filtrar por:</label>
										
										{% for filtro, valores in datos_filtro.items() %}

											<select name="{{filtro}}">
												<option value="">{{filtro}}</option>

												{% for valor in valores %}
												<option value="{{ valor }}">{{ valor }}</option>
												{% endfor %}

											</select>

										{% endfor %}
										
										<button type="submit">Filtrar</button>
									</form>

								</div>
								
				   			</div>
				   		</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
			
		</aside>		
		<div id="fh5co-blog">
			<div class="row">
				{% for animal in animales %}

				<div class="col-md-4 targeta-animales">
					<div class="fh5co-blog animate-box">
						<img src="{{animal.urlFoto}}" alt="foto de la mascota" class="img-fluid img-pets">
						<div class="blog-text">
							<span class="posted_on">{{animal.fechaPerdido}}</span>
							<h3><a href="#">{{animal.animal}}</a></h3>
							<p>{{animal.descripcion}}</p>
							<p>{{animal.raza}}</p>
							<ul class="stuff">
								<li><i class="icon-heart3"></i>249</li>
								<li><i class="icon-eye2"></i>1,308</li>
								<li><a href="{{ url_for('petinfo', id=animal.id)}}" class="botoninfo">Mas detalles<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
	
				{% endfor %}
			</div>
		</div>
	</div><!-- END container-wrap -->
	{% endblock %}

