{% extends 'base.html' %}
{% block body %}
<div class="container-wrap">
    <div class="row-center" >
        <form class="col-md-6 animate-box" action="/profile" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="Email" value="{{user.email}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="cellphone" placeholder="Cellphone" value="{{user.telefono}}">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value="{{user.nombre}}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Editar datos" class="btn btn-primary btn-modify">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}