{% extends 'base.html' %}
{% block profileactive %} class="active" {% endblock %}
{% block body %}
<div class="container-wrap-empty">
    <div class="row-center row-no-margin" >
        <div class="col-md-8 card-container">
            <div class="row row-no-margin">
                <div class="col-xs-6">
                    <h1>Perfil</h1>
                </div>
                <div class="col-xs-6" style="text-align: right;">
                    <a class="button" href=" {{ url_for('profile_edit')}}">Editar</a>
                </div>
            </div>

            <div class="row row-no-margin container-inner">
                <div class="col-md-12">
                    <div class="row row-no-margin">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <p>{{ user.nombre }}</p>
                        </div>
                        <div class="col-md-6">
                            <label>Apellido</label>
                            <p>{{ user.apellido }}</p>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="col-md-6">
                            <label>Telefono</label>
                            <p>{{ user.telefono }}</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

{% endblock %}