{% extends 'base.html' %}
{% block uploadactive %} class="active" {% endblock %}
{% block body %}
<div class="container">
    <div class="login form">
        <form action="{{ url_for('upload_pet') }}" method="post" enctype="multipart/form-data">
            <u>
                <header>Formulario de Mascota</header>
            </u>
            <label for="animal">Indique la especie de la mascota</label>
            <br>
            <select id="animal" name="animal" required>
                <option>Perro</option>
                <option>Gato</option>
                <option>Ave</option>
                <option>Roedor</option>
                <option>Reptil</option>
                <option>Otro</option>
            </select>
            <label for="raza">Indique la raza de la mascota (opcional)</label>
                <input type="text" name="raza" id="raza">
            <label for="condicion">Indique el estado de la mascota</label>
            <select id="condicion" name="condicion" required>
                <option>Perdido</option>
                <option>Encontrado sin dueño</option>
            </select>
            <label for="color">Indique el color de la mascota</label>
                <input type="text" name="color" id="color" required>
            <label for="fecha">Indique la fecha de perdida/encontrada</label>
                <input type="date" name="fecha" id="fecha" required>
            <label for="foto">Suba una imágen de la mascota</label>
                <!-- Permite al usuario subir un archivo, pero este tiene la condicion de ser algun tipo de imagen -->
                <input type="file" name="foto" id="foto" accept="image/*" required>
            <label for="ubicacion">Indique la ubicacion donde se perdió/encontró</label>
                <input type="text" id="ubicacion"name="ubicacion" required>
                <div id="suggestions" class="suggestions"></div>
                <div id="map"></div>
            
            <input type="text" name="descripcion" placeholder="Datos relevantes sobre la mascota">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scrips %}
<script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename = 'js/mapa.js') }}"></script>
{% endblock %}