{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="login form">
        <!-- agregar la ruta de envio -->
        <form action="/ruta-de-envio" method="post">
            <header>
                    Formulario de Mascota
            </header>
            <!-- Required implica que el usuario debe completar el campo para poder completar el formulario -->
            <label for="animal">Indique la especie de la mascota. Ejemplo: Gato</label>
                <input type="text" name="animal" id="animal" required>
            <label for="raza">Indique la raza de la mascota (opcional)</label>
                <input type="text" name="raza" id="raza">
            <label for="condicion">Indique el estado de la mascota</label>
            <select id="condicion" name="condicion" required>
                <option>Perdido</option>
                <option>Encontrado sin dueño</option>
            </select>
            <label for="color">Indique el color de la mascota</label>
                <input type="text" name="color" id="color" required>
            <label for="fecha">Indique la fecha de perdida/encontrada</label>
                <input type="date" name="fecha" id="fecha" required>
            <label for="foto">Suba una imágen de la mascota</label>
                <!-- Permite al usuario subir un archivo, pero este tiene la condicion de ser algun tipo de imagen -->
                <input type="file" name="foto" id="foto" accept="image/*" required>
            <label for="ubicacion">Indique la ubicacion donde se perdió/encontró</label>
                <input type="text" id="ubicacion"name="ubicacion" required>
            <input type="text" name="descripcion" placeholder="Datos relevantes sobre la mascota">
            <!-- Campo oculto que no vera el usuario, lo inicializo en falso y se cambiara a verdadero cuando la mascota sea encontrada o entregada a su dueño -->
            <input type="hidden" name="resuelto" value="false">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
{% endblock %}